@import url('https://fonts.googleapis.com/css?family=Roboto');

.titleprojects{
  color: black;
  padding-left: 2%;
  margin-left: 6%;
  margin-right: 61%;
  font-size: 700%;
  background-color: white;
  font-weight: bold;
  padding-bottom: 10px;
  border: 2px black solid;
  text-align: left;
}
.projectlinks{
  color: black;
  padding-left: 2%;
  margin-left: 6%;
  margin-right: 61%;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 2px black solid;
  transition: 1s;
}

.javaBox{
  margin-bottom:2%;
  margin-left: 14%;
  margin-right: 14%;
}
.subLinks{
  margin-left:2%;
  padding-bottom:1%;
  text-align: left;
  font-size: 600%;
  font-weight: bold;
}
.projectShowcase{
  border: 1px black solid;
  border-radius: 40px;
  margin-left: 5%;
  margin-right: 5%;
}
.projectImage{
  border-radius: 40px;
  position: relative;
  right: 15px;
  height:300px;
}
.projectText{
  position: relative;
  left:140%;
  top: -300px;
  height: 100px;
  background-color: black;
}