@import url('https://fonts.googleapis.com/css?family=Roboto');

.aboutlinks{
  color: #E14658;
  
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding: 1%;
  border: 2px black solid;
  transition: 1s;
  text-align: center;
}
.hrstyleblack{
  border-top: 3px double black;
}
.boxabout{
  position: relative;
  margin-left: 14%;
  margin-right: 14%;

  padding-top: 5%;
  padding-bottom: 10%;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
            0 5px 15px 0 rgba(0,0,0,0.08);
}

.text{
    font-size: 130%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 3%;
}

.ryersonlogo{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 40%;
}

.aboutmephoto{
    border-radius: 10px;
    border: 1px black solid;
    margin-left:2%; 
    width:35%;
    height: auto;
    margin-bottom: 2%;
}



.Collapsible__trigger {
  font-size:400%;
  display: block;
  text-decoration: none;
  position: relative;
  border: 1px solid white;
  padding-left:2%;
  color: white; 
  background: #22252C;
}
  .Collapsible__trigger:after {
    content: '+';
    position: absolute;
    right: 20px;
    top: 5px;
    display: block;
    transition: transform 300ms; }
  .Collapsible__trigger.is-open:after {
    transform: rotateZ(180deg);
  }


    .anchor1:link{
      text-decoration: none;
      color: #E14658;
    }
    .anchor1:visited{
      text-decoration: none;
      color: #E14658;
    
    }
    .anchor1:hover{
    text-decoration: none;
    color: #E14658;
    }
    
    .anchor1:active{
      text-decoration: none;
      color: #E14658;
    
    }

    .iconsF{
      color: #22252C;
      transition: .7s;
    }
    .iconsT{

      display: inline;
        font-size: 130%;
        color: #22252C;
    }
    .centeralign{
      margin-left: 10%;

    }

    .spacer1{
      padding-bottom: 5%;
    }
    .btn-custom1 {
      margin-left:10%;
      background-color: #E14658;
      border-color: #E14658;
      color: white;
    }
    .btn-custom1:hover,
    .btn-custom1:focus,
    .btn-custom1:active,
    .btn-custom1.active {
      background-color: #dd3044;
      border-color: #d22236;
      color: white;
    }
    .btn-custom1.disabled:hover,
    .btn-custom1.disabled:focus,
    .btn-custom1.disabled:active,
    .btn-custom1.disabled.active,
    .btn-custom1[disabled]:hover,
    .btn-custom1[disabled]:focus,
    .btn-custom1[disabled]:active,
    .btn-custom1[disabled].active,
    fieldset[disabled] .btn-custom1:hover,
    fieldset[disabled] .btn-custom1:focus,
    fieldset[disabled] .btn-custom1:active,
    fieldset[disabled] .btn-custom1.active {
      background-color: #E14658;
      border-color: #E14658;
      color:white;
    }

    .learnmore{
      margin-left: -40%;
      text-align: block;
    }
    .aboutme{
      font-size: 150%;
      color: black;
      margin-left: 4%;
      margin-right: 4%;
      margin-top: 2%;
      margin-bottom: 4%;
    }