@import url('https://fonts.googleapis.com/css?family=Roboto');

.titleabout{
  color: black;
  padding-left: 2%;
  padding-right: 2%;
  margin-left: 5%;
  margin-right: 60%;
  font-size: 700%;
  background-color: white;
  font-weight: bold;
  padding-bottom: 10px;
  border: 2px rgb(19, 10, 10) solid;
    text-align: center;
}
.aboutlinks{
  color: #E14658;
  padding-left: 2%;
  padding-right: 2%;
  margin-left: 5%;
  margin-right: 60%;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 2px black solid;
  transition: 1s;
  text-align: center;
}

.boxabout{
  position: relative;
  margin-left: 1%;
  margin-right: 1%;

  padding-top: 18%;
  padding-bottom: 10%;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
            0 5px 15px 0 rgba(0,0,0,0.08);
}

.text{
    font-size: 130%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 3%;
}

.ryersonlogo{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 40%;
}

.aboutmephoto{
    border-radius: 10px;
    border: 1px black solid;
    margin-left:2%; 
    width:35%;
    height: auto;
    margin-bottom: 2%;
}



.Collapsible__trigger {
  font-size:400%;
  display: block;
  text-decoration: none;
  position: relative;
  border: 1px solid white;
  padding-left:2%;
  color: white; 
  background: #22252C;
}
  .Collapsible__trigger:after {
    content: '+';
    position: absolute;
    right: 20px;
    top: 5px;
    display: block;
    transition: transform 300ms; }
  .Collapsible__trigger.is-open:after {
    transform: rotateZ(180deg);
  }

    .anchor1:link{
      text-decoration: none;
      color: #E14658;
    }
    .anchor1:visited{
      text-decoration: none;
      color: #E14658;
    
    }
    .anchor1:hover{
    text-decoration: none;
    color: #E14658;
    }
    
    .anchor1:active{
      text-decoration: none;
      color: #E14658;
    
    }