@import url('https://fonts.googleapis.com/css?family=Roboto');

div.nav{
    width: 100%;
    position: fixed;
    z-index: 9999;
    top: 0;
    background: #22252C;
    color:#ffffff;
    padding-left: 60%;
    box-shadow: 0 0 25px 0 black;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    overflow: hidden;
    max-width: 100%;
    min-width: 1500px; 

}
button.link { background:none;border:none; 
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 200%;
  position: relative;
  top:-6px;
  right:5px;
  -o-transition:.7s;
  -ms-transition:.7s;
  -moz-transition:.7s;
  -webkit-transition:.7s;
  transition: .7s;

  }
a.normal{
  background:none;border:none; 
    text-decoration: none;
    float: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 200%;
    display:inline-block;
    line-height: normal;
    color: #ffffff;
    overflow: hidden;
    -o-transition:.7s;
    -ms-transition:.7s;
    -moz-transition:.7s;
    -webkit-transition:.7s;
    transition: .7s;
    padding-right: 6%;

}
button.link:hover{
  text-decoration: none;
  color: #E14658;
}
a.normal:hover{
  text-decoration: none;
  color: #E14658;
}


.linkspan {
  position: relative;
}

.linkspan::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: white;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.linkspan:hover::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}