@import url('https://fonts.googleapis.com/css?family=Roboto');

div.nav{
    //position:absolute;
    //top: 0;
    width: 100%;
    background: #000000;
    color:#ffffff;
    padding-top: 6%;
    box-shadow: 0 0 25px 0 black;
}
.normal{
    float: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 325%;
    display:inline-block;
    line-height: normal;
    text-decoration: none;
    color: #ffffff;
    overflow: hidden;
    -o-transition:.7s;
    -ms-transition:.7s;
    -moz-transition:.7s;
    -webkit-transition:.7s;
    transition: .7s
}
a.normal:hover{
  color: blue;
}
