.line-1{
    margin-top: 5%;
    margin-left: 35%;
    border-right: 10px solid rgba(255,255,255,.75);
    font-size: 400%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

/* Animation */
.anim-typewriter{
  animation: typewriter 2s steps(44) 1s 1 normal both,
             blinkTextCursor 1000ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width:0;}
  to{width: 27%;}
}
@keyframes blinkTextCursor{
  from{border-right-color:#ffffff;}
  to{border-right-color: transparent;}
}
