@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto');


html, body {
    max-width: 100%;
    overflow-x: hidden;
    min-width: 1500px;
}

.background{
  background-image: url("https://images.unsplash.com/photo-1500993855538-c6a99f437aa7?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}
.Typer{
    padding-left: 29%;
    font-size: 500%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding-bottom: 1%;
}

.down{
  margin-top: 7%;
}

div.links{
  padding-left: 41%;
  margin-bottom: 2%;
}

a.links{
  padding-right: 7%;
  text-decoration: none;
  color: #000000;
}

.boxshadow{
  padding-bottom: 2%;
  background-color: #22252C;
  box-shadow: 3px 0px 0px  black, 0 0 3px black;
}
.slider {
  margin-left: 11%;
  border: 2px white solid;
  margin-top: 7%;
  border-radius: 40px;
  position: relative;
  max-width: 620px;
  height: 500px;
  overflow: hidden;
  white-space: nowrap;
}

.slider-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.slide {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.arrow {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  transition: transform ease-in .1s;
}

.nextArrow {
  position: absolute;
  top: 50%;
  right: 25px;
  z-index: 999;
  color: #fff;
}

.backArrow {
  position: absolute;
  top: 50%;
  left: 25px;
  z-index: 999;
  color: #fff;
}

.right {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.left {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.column {
  float: left;
  width: 50%;
}
.column6 {
  float: left;
  width: 50%;
  padding-top: 2%;
}
.column1 {
  float: left;
  width: 60%;
}
.column2 {
  float: left;
  width: 40%;
}
.column3{
  float: left;
  width: 35%;

}
.column4{
  float: left;
  width: 65%;
}
.column5{
  margin-top: 2%;
  margin-left: 16.5%;

  float: left;
  width: 15%;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.icons{
  margin-left: 5%;
    margin-top: 8%;
    font-weight: bold;
    font-size: 120%;
    color: white;
}
.shifter{
  margin-left: 10%;

}
.montserrat{
  color: white;
  font-size: 800%;
  font-weight: bold;
}

.fontawesome{
color:#bfbfbf;
-o-transition:.7s;
-ms-transition:.7s;
-moz-transition:.7s;
-webkit-transition:.7s;
transition: .7s;
}

.fontawesome:hover{
  transform: scale(1.5);
  color:#E14658;
}
.bottomlinks{
  margin-right: 1%;
  padding-left: 1%;
}
footer{
  margin-top: 5%;
  padding-top: 2%;
  background: #000000;
  color: white;
  padding-bottom: 4%;
  text-align: center;
}
.aboutlink{
  color: white;
  text-decoration: none;
}
.aboutlink:hover{
  text-decoration: none;
  color:white;
}
.hrstyle{
  border-top: 3px double white;
}
.card{
padding: 4%;
border: 1px black solid;
}
.card:hover{
  transition: .8s;
  transform: scale(1.1);
      box-shadow: 0 0 25px 0 black;
}
.title{
  font-size: 200%;
  font-weight: bold;
}
.buttonColor{
background-color: #bfbfbf;
}
.centre{
color: white;
padding-top: 2%;
padding-left:10%;
padding-right: 5%;
}

.slick-prev {
  left: 5% !important;
  z-index: 1;
}
.slick-next {
  color: black;
  right: 5% !important;
  z-index: 1;
}
.bigText{
  color: white;
  background-color: grey;
  padding-left: 1%;
  padding-bottom: .5%;
  position: relative;
  top: 53px;
  margin-top: 6%;
  font-size: 800%;
  font-weight: bold;
  margin-left: 3%;
  width: 27%;
  border-bottom: 10px white solid;
  transition: 1s;

}
.bigText:hover{
  background-color: #E14658;

}
.montserrat1{
  color: white;
  background-color: grey;
  padding-left: 1%;
  padding-bottom: .5%;
  position: relative;
  top: 53px;
  margin-top: 6%;
  font-size: 800%;
  font-weight: bold;
  margin-left: 3%;
  width: 31%;
  border-bottom: 10px white solid;
  transition: 1s;
}
.montserrat1:hover{
background-color: #E14658;
}
.blackboard{
  padding:8.3%;
  color: white;
  background-color:#22252C;
}
.blackboard1{
  padding-top: 5%;
  padding-bottom: 2%;
  background-color: #22252C;
}
.grain{
    padding: 5%;
    background-color: grey;
}
.grain1{
    background-color:grey;
}
.white{
  background-color: grey;
  color: white;
}
.paragraph{
font-family: 'Roboto', sans-serif;
color: white;
font-size: 130%;
}
.paragraph1{
margin-left: 5%;
margin-right: 5%;
margin-bottom: 2%;
font-family: 'Roboto', sans-serif;
color: white;
font-size: 130%;
}
.btn-custom {
  background-color: #E14658;
  border-color: #E14658;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
  background-color: #dd3044;
  border-color: #d22236;
}
.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
  background-color: #E14658;
  border-color: #E14658;
}

.nicole{
  position: relative;
  left:-36%;
  top:37px;
  color: white;
  transition: .7s;
}
.nicole:hover{
transform: scale(1.3);
color: #E14658;
}

.interests{
  margin-bottom: -5%;
  margin-top: 5%;
  color: white;
  font-size: 200%;
  font-weight: bold;
}
