.fontawesomeFoot{
    color:#E14658;
    -o-transition:.7s;
    -ms-transition:.7s;
    -moz-transition:.7s;
    -webkit-transition:.7s;
    transition: .7s;
    }
    
    .fontawesomeFoot:hover{
      transform: scale(1.5);
      color:white;
    }
    .bottomlinks{
        margin-right: 1%;
        padding-left: 1%
        
      }